{% extends 'inscriptions/index.html.twig' %}
{% block title %}Les paroissiens
{% endblock %}
{% block main %}
	<main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
		<div class="container px-6 py-8 mx-auto">
			<div class="flex justify-between relative">
				<h3 class="text-3xl font-medium text-gray-700">Liste des paroissien</h3>


				<button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
					Ajouter
				</button>

				<div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
					<div class="relative p-4 w-full max-w-md max-h-full justify-self-end mt-16">
						<div class="relative bg-white rounded-lg shadow ">
							<button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
								<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
								</svg>
								<span class="sr-only">Close modal</span>
							</button>
							<div class="p-4 md:p-5 text-center">

								<h3 class="mb-5 text-sm font-normal text-red ">Quel Paroissien voulez vous enregister</h3>
								<div class="flex justify-between w-3/5 m-auto">
									<a href="{{path('app_paroissien_add_new')}}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Nouveaux</a>
									<a href="{{path('app_paroissien_add_old')}}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Encien</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div id="imperezwa-modal" tabindex="-1" class="hidden overflow-y-hidden overflow-x-hidden backdrop-brightness-90 fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
				<div class="relative py-4 w-full max-w-xl  justify-self-center h-svh overflow-auto">
					<div class="relative bg-white rounded-lg shadow ">
						<button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" imperezwa-modal-hide="imperezwapopup-modal">
							<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
							</svg>
							<span class="sr-only">Close modal</span>
						</button>
						<div class="p-4 md:p-5 text-center">

							<h3 class="mb-5 text-sm font-normal text-red border-b-2 border-black">IMPEREZWA/PASIKA</h3>
							<div class="grid gap-4 grid-cols-2  w-full">
								<div class="border-r-2 border-black">
									<div class="justify-self-start mb-3">12-3-2002</div>
									<div class="justify-self-start mb-3">12-3-2002</div>
									<div class="justify-self-start mb-3">12-3-2002</div>
									<div class="justify-self-start mb-3">12-3-2002</div>
									<div class="justify-self-start mb-3">12-3-2002</div>
									<div class="justify-self-start mb-3">12-3-2002</div>
									<div class="justify-self-start mb-3">12-3-2002</div>
									<div class="justify-self-start mb-3">12-3-2002</div>

								</div>
								<div>2</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-4">
				<div
					class=" mx-auto">


					{# <div class="w-full flex justify-between items-center mb-3 mt-1 pl-3">
																																																																																																																				<div>
																																																																																																																					<h3 class="text-lg font-semibold text-slate-800">Projects with Invoices</h3>
																																																																																																																					<p class="text-slate-500">Overview of the current activities.</p>
																																																																																																																				</div>
																																																																																																																				<div class="ml-3">
																																																																																																																					<div class="w-full max-w-sm min-w-[200px] relative">
																																																																																																																						<div class="relative">
																																																																																																																							<input class="bg-white w-full pr-11 h-10 pl-3 py-2 bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded transition duration-200 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md" placeholder="Search for invoice..."/>
																																																																																																																							<button class="absolute h-8 w-8 right-1 top-1 my-auto px-2 flex items-center bg-white rounded " type="button">
																																																																																																																								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-8 h-8 text-slate-600">
																																																																																																																									<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
																																																																																																																								</svg>
																																																																																																																							</button>
																																																																																																																						</div>
																																																																																																																					</div>
																																																																																																																				</div>
																																																																																																																			</div> #}

					<div class="relative flex flex-col w-full h-full  text-gray-700 bg-white shadow-md rounded-lg  bg-clip-border">
						<div class="overflow-x-auto rounded-lg ">
							<table class="w-full text-left table-auto min-w-max ">
								<thead>
									<tr>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												ordre
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												Nom
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												prenom
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												Date de Naissance
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												Lieu de Naissance
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												telephone
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												email
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												gerne
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												Numero de la rue
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												Nom de la rue
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												ville
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												code postale
											</p>
										</th>
										<th class="p-4 border-b border-slate-200 bg-slate-50">
											<p class="text-sm font-normal leading-none text-slate-800 font-semibold">
												pays
											</p>
										</th>
										
									</tr>
								</thead>
								<tbody>
								    {% for paroissien in pagination.data %}
									<tr class="hover:bg-slate-50 border-b border-slate-200">
										<td class="p-4 py-4">
										<p class="block font-semibold text-sm text-slate-500">{{ paroissien.idParoissien }}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{paroissien.nom}}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{paroissien.prenom}}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{ paroissien.dateNaissance|date('d/m/Y') }}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{paroissien.lieuNaissance}}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{paroissien.telephone}}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{paroissien.email}}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{ paroissien.genre.value }}</p>
										</td>
										<td class="p-4 py-4">
										{% if paroissien.adresse %}
										
										<p class="text-sm text-slate-500">{{ paroissien.adresse.numeroRue }}</p>
										{% else %}
										<p class="text-sm text-slate-500">Adresse inconnue</p>
										{% endif %}
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{paroissien.adresse.nomRue}}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{paroissien.adresse.ville}}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{paroissien.adresse.codePostal}}</p>
										</td>
										<td class="p-4 py-4">
											<p class="text-sm text-slate-500">{{paroissien.adresse.pays}}</p>
										</td>
						
									</tr>
									{% else %}
										<tr>
											<td colspan="3">Aucun paroissien trouvé.</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>


						<div class="flex justify-between items-center px-4 py-3">
							<!-- Affichage des informations de pagination -->
							<div class="text-sm text-slate-500">
								Visibles de
								<b>
									{{ (pagination.page - 1) * pagination.limit + 1 }} -
									{{ pagination.page * pagination.limit > pagination.total ? pagination.total : pagination.page * pagination.limit }}
								</b>
								sur {{ pagination.total }}
							</div>

							<!-- Boutons de navigation -->
							<div class="flex space-x-1">
								<!-- Bouton "Précédent" -->
								<a href="{{ pagination.page > 1 ? path('app_paroissien_index', { page: pagination.page - 1 }) : '#' }}"
								class="flex justify-between items-center px-3 py-1 min-w-9 min-h-9 text-sm font-normal {{ pagination.page > 1 ? 'text-slate-500 bg-white border border-slate-200 hover:bg-slate-50 hover:border-slate-400' : 'text-gray-300 bg-gray-100 border-gray-200 cursor-not-allowed' }} rounded transition duration-200 ease">
									Precendent
								</a>

								<!-- Boutons pour chaque page -->
								{% for i in 1..pagination.pages %}
									<a href="{{ path('app_paroissien_index', { page: i }) }}"
									class="px-3 flex justify-between items-center  py-1 min-w-9 min-h-9 text-sm font-normal {{ i == pagination.page ? 'text-white bg-slate-800 border-slate-800 hover:bg-slate-600 hover:border-slate-600' : 'text-slate-500 bg-white border border-slate-200 hover:bg-slate-50 hover:border-slate-400' }} rounded transition duration-200 ease">
										{{ i }}
									</a>
								{% endfor %}

								<!-- Bouton "Suivant" -->
								<a href="{{ pagination.page < pagination.pages ? path('app_paroissien_index', { page: pagination.page + 1 }) : '#' }}"
								class=" flex justify-between items-center px-3 py-1 min-w-9 min-h-9 text-sm font-normal {{ pagination.page < pagination.pages ? 'text-slate-500 bg-white border border-slate-200 hover:bg-slate-50 hover:border-slate-400' : 'text-gray-300 bg-gray-100 border-gray-200 cursor-not-allowed' }} rounded transition duration-200 ease">
									Suivant
								</a>
							</div>
						</div>

					</div>


				</div>


			</div>
		</div>
	</main>
	<script>
//const document.querySelectorAll('[data-modal-toggle="popup-modal"]') = document.querySelectorAll('[data-modal-toggle="popup-modal"]');
//const document.querySelectorAll('[data-modal-hide="popup-modal"]'); = document.querySelectorAll('[data-modal-hide="popup-modal"]');
//const modal = document.getElementById('popup-modal');

// pour imperezwa pop up
// const imperezwatoggleButtons = document.querySelectorAll('[imperezwa-modal-toggle="imperezwapopup-modal"]');
// const imperezwacloseButtons = document.querySelectorAll('[imperezwa-modal-hide="imperezwapopup-modal"]');
// const imperezwamodal = document.getElementById('imperezwa-modal');

// pour imperezwa visibility

document.querySelectorAll('[imperezwa-modal-toggle="imperezwapopup-modal"]').forEach(button => {
button.addEventListener('click', () => {
document.getElementById('imperezwa-modal').classList.toggle('hidden');
});
});


// pour imperezwa hidden
document.querySelectorAll('[imperezwa-modal-hide="imperezwapopup-modal"]').forEach(button => {
button.addEventListener('click', () => {
document.getElementById('imperezwa-modal').classList.add('hidden');
});
});
// Toggle modal visibility
document.querySelectorAll('[data-modal-toggle="popup-modal"]').forEach(button => {
button.addEventListener('click', () => {
document.getElementById('popup-modal').classList.toggle('hidden');
});
});

// Hide modal
document.querySelectorAll('[data-modal-hide="popup-modal"]').forEach(button => {
button.addEventListener('click', () => {
document.getElementById('popup-modal').classList.add('hidden');
});
});
	</script>
{% endblock main %}
